item {
    --image: url(../assets/placeholder.png);
	position: relative;
	display: inline-block;
	width: 16em;
	height: 16em;
	background: var(--dark) var(--image);
	background-size: contain;
	transition: outline 0.05s;
	--outline-width-multiplier: 1;
	outline: 0px solid;
	outline-offset: -2px;
}
item::after {
	content: attr(value);
	font-size: 4em;
	text-shadow: 0.015625em 0.015625em var(--darkest);
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	background: var(--imageOverlay);
	background-size: contain;
	text-align: right;
	line-height: 1.8125em;
}
item:hover, item.connecting {
	outline: calc(4px * var(--outline-width-multiplier)) solid #ffffff;
}
item[style*="--imageModulation"]::before {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	mask-image: var(--image);
	mask-size: contain;
	background: var(--imageModulation);
	mix-blend-mode: multiply;
}
