node {
	display: block;
	background: var(--darkest);
	box-sizing: border-box;
}

#graph node {
    font-size: 4px;
	position: absolute;
    --posX: 0;
	--posY: 0;
	left: calc(round(var(--posX) + 9, 18) * 1px - 4px);
	top: calc(round(var(--posY) + 9, 18) * 1px - 4px);
}

node.itemNode {
    width: 74em;
    height: 20em;
    border: 2em solid var(--darker);
    item {
        border-right: 2em solid var(--darker);
    }
}
