node {
	display: block;
	background: var(--darker);
	box-sizing: border-box;
    text-wrap-mode: nowrap;
}

#graph node {
    font-size: 4px;
	position: absolute;
    --posX: 0;
	--posY: 0;
	left: calc(round(var(--posX) + 9, 18) * 1px - 4px);
	top: calc(round(var(--posY) + 9, 18) * 1px + 4px);
    padding: 0em 2em;
    &::before {
        position: absolute;
        content: " ";
        left: 0;
        top: -2em;
        width: 100%;
        height: calc(100% + 4em);
        background: var(--darker);
        z-index: -1;
    }
    .contents {
        position: relative;
        top: -2em;
        padding: 2em 0;
        height: calc(100% + 4em);
        box-sizing: border-box;
        background: var(--darker);
    }
}

#graph node .deleter {
    position: absolute;
    display: block;
    font-family: fontawesome;
    font-size: 8px;
    right: 0em;
    top: -1em;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    background: var(--darker);
    &:hover {
        background: var(--red);
    }
}

node.itemNode {
    height: 16em;

    .right-side {
        vertical-align: top;
        display: inline-block;
        width: 52em;
        height: 16em;
        box-sizing: border-box;
        margin-left: 2em;
        background: var(--darkest);
    }

    .value-container {
        display: flex;
        margin-bottom: 4px;
        direction: ltr;
    }

    input.value {
        box-sizing: border-box;
        font-size: 23px;
        padding: 0px 4px;
        outline: none;
        border: none;
        background: var(--dark);
        min-width: 0;
        text-align: right;
        color: var(--highlight);
        flex-shrink: 1;
    }
    .value-container[unit]::after {
        content: attr(unit);
        padding-right: 4px;
        font-size: 23px;
        background: var(--dark);
        box-sizing: border-box;
        line-height: 28px;
    }

    input.value:focus, .value-container:has(input.value:focus)::after {
        outline: 2px solid var(--highlight);
    }

    label.constrain::after, button.flipper {
        font-family: fontawesome;
        cursor: pointer;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        line-height: 28px;
        font-size: 20px;
        width: 28px;
        height: 28px;
        margin: 0px 4px;
    }

    label.constrain {
        input {
            display: none;
        }
        &::after {
            content: "\f09c";
            background: var(--dark);
            color: var(--highlight);
        }
        &:hover::after {
            outline: 2px solid var(--highlight);
        }
        &:has(input:checked)::after {
            content: "\f023";
        }
    }

    button.flipper {
        float: inline-end;
        line-height: 24px;
        color: var(--dark);
        &:hover {
            color: var(--bright);
            outline: none;
        }
    }
    
    &[flipped] {
        direction: rtl;
        .right-side {
            margin-left: 0em;
            margin-right: 2em;
        }
    }
}
